*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: rgb(203, 199, 199);
}

.col-1{
    width: calc(100%*1/12);
}
.col-2{
    width: calc(100%*2/12);
}
.col-3{
    width: calc(100%*3/12);
}
.col-4{
    width: calc(100%*4/12);
}
.col-5{
    width: calc(100%*5/12);
}
.col-6{
    width: calc(100%*6/12);
}
.col-7{
    width: calc(100%*7/12);
}
.col-8{
    width: calc(100%*8/12);
}
.col-9{
    width: calc(100%*9/12);
}
.col-10{
    width: calc(100%*10/12);
}
.col-11{
    width: calc(100%*11/12);
}
.col-12{
    width: calc(100%*12/12);
}

.heading_container{
    height: 100px;
    /* background-color: grey; */
    margin-left: 120px;
    
}
.heading_container h1{
    margin-left: 200px;
}

.cards{
    height: 460px;
    background-color: white;
    margin-left: 120px;
}
.cards_row_1 ul{
    display: flex;
    width: fit-content;
}
.cards_row_2 ul{
    display: flex;
    width: fit-content;
}
li{
    height: 230px;
    color: white;
    
}
li p{
    font-size: large;
}
li a{
    color: white;
    font-weight: 300;
}
i{
    height: 230px;
    font-size: 100px;
    width: 400px;
    color: rgb(60, 55, 55);
    
}
