*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 1400vh;
}

.col-1{
    width: calc(100%*1/12);
}
.col-2{
    width: calc(100%*2/12);
}
.col-3{
    width: calc(100%*3/12);
}
.col-4{
    width: calc(100%*4/12);
}
.col-5{
    width: calc(100%*5/12);
}
.col-6{
    width: calc(100%*6/12);
}
.col-7{
    width: calc(100%*7/12);
}
.col-8{
    width: calc(100%*8/12);
}
.col-9{
    width: calc(100%*9/12);
}
.col-10{
    width: calc(100%*10/12);
}
.col-11{
    width: calc(100%*11/12);
}
.col-12{
    width: calc(100%*12/12);
}
[class*=col]{
    /* background-color: rgb(238, 222, 222); */
    
  }

  /* @media only screen and (max-width: 640px) {
    
  } */

  .nav{
    height: 60px;
    display: flex;
    justify-content: center;
    background-color: rgb(247, 244, 244);
  }
  .logo{
    margin-top: 5px;
  }
  .logo h1{
    color: rgb(117, 109, 109);
    font-size: 40px;
  }
  .logo a{
    text-decoration: none;
  }
  .menu{
    display: flex;
    justify-content: center;
  }
  .menu_links ul{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  .menu_links ul li{
    list-style: none; 
  }
  .menu_links ul li a{
    text-decoration: none;
    color: rgb(117, 109, 109);
    font-size: 20px;
  }
  .social_network_icons ul{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    
  }
  .social_network_icons ul li{
    list-style: none;
  }
  .social_network_icons ul li i{
    color: rgb(117, 109, 109);
    font-size: 20px;
  }




  .card{
    background-repeat: no-repeat;
  }